@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, #root {
    margin: 0px;
    height: 100%;
    background: #eeeeee;
    font-family: Lato;
}

label {
    display:block;
}

a {
    color: #eeeeee;
    text-decoration: none;
    padding: 0 3%;
}

.nav-links {
    width: 50%;
}

.login-container, .add-container {
    width: 50%;
    margin: 3% auto;
    padding: 4% 2%;
    background-color: #fff;
    border: 1px solid #7e7e7e;
    border-radius: 8px;
}

.friends-list {
    margin-top: 5%;
}

.friend-card {
    width: 30%;
    margin: 3% auto;
    padding: 4% 2%;
    background-color: #fff;
    border: 1px solid #7e7e7e;
    border-radius: 8px;
}